@use 'styles/common/variables' as common;
@use '@angular/material' as mat;

@include mat.core();

$higlanderkev-primary: mat.define-palette(mat.$light-blue-palette);
$higlanderkev-accent: mat.define-palette(mat.$cyan-palette);

$higlanderkev-warn: mat.define-palette(mat.$red-palette);

$higlanderkev-theme: mat.define-dark-theme((
  color: (
    primary: $higlanderkev-primary,
    accent: $higlanderkev-accent,
    warn: $higlanderkev-warn,
  )
));

@include mat.all-component-themes($higlanderkev-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
